body {
    position: absolute;
    width: 100%;
    height: 100%;
}
* {
    margin: 0px;
    padding: 0px;
}
#main-canvas {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}